<div class="flexbox">
  <form class="form">
    <h1 class="center-text">Login</h1>
    <div class="break"></div>

    <mat-form-field class="wide" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput />
    </mat-form-field>

    <div class="break"></div>

    <mat-form-field class="wide" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" />
    </mat-form-field>

    <div class="break"></div>

    <div class="flexbox">
      <button mat-raised-button color="primary" type="submit">LOGIN</button>
    </div>
  </form>
</div>
