<div class="container padding">
  <div class="twenty">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 table margin"
    >
      <button mat-raised-button color="primary">Primary</button>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="center-text">
          Player name
        </th>
        <td mat-cell *matCellDef="let element" class="auto">
          {{ element.player.nickname }}
          <mat-icon *ngIf="element.player.id === room.drawer.id">edit</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef class="center-text">Points</th>
        <td mat-cell *matCellDef="let element" class="short center-text">
          {{ element.points }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [ngClass]="{ guessed: row.guessed }"
      ></tr>
    </table>
  </div>

  <div class="sixty">
    <div class="flexbox middle unselectable">
      <div [ngClass]="{ shaker: guessed }" class="flexbox">
        <h3
          *ngIf="!isLoading && getUserID === room.drawer.id && ready"
          class="margin-right"
        >
          {{ room.currentWord }}
        </h3>
        <h3
          *ngIf="!isLoading && getUserID !== room.drawer.id && word"
          class="margin-right"
        >
          {{ word.split("").join(" ") }}
        </h3>
        <h5>{{ this.seconds / 1000 }}</h5>
      </div>
      <canvas class="canvas" #canvas height="1080px" width="1920px"></canvas>
    </div>
  </div>

  <div class="twenty">
    <div class="flexbox">
      <div class="wide chat margin margin-bottom chat-padding" #scrollable>
        <p *ngFor="let message of messages">
          {{ message.user.nickname }}: {{ message.guess }}
        </p>
      </div>

      <form
        class="padding-side wide"
        [formGroup]="guessForm"
        (ngSubmit)="guess()"
      >
        <mat-form-field appearance="fill" class="wide">
          <mat-label>Guess word</mat-label>
          <input matInput formControlName="guess" />
        </mat-form-field>

        <div class="flexbox">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="
              !guessForm.valid ||
              getUserID === this.room.drawer.id ||
              getUser.guessed
            "
          >
            SEND
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
